@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para garantir suavidade */
html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Previne rolagem horizontal */
  width: 100%;
  max-width: 100vw; /* Garante que não ultrapasse a largura da viewport */
}

body {
  @apply bg-dark text-white antialiased; /* Define o tema escuro como padrão */
  overflow-x: hidden; /* Previne rolagem horizontal */
  width: 100%;
  max-width: 100vw; /* Garante que não ultrapasse a largura da viewport */
}